// LAYOUT
$content:60%;
$content:66%;
$side:100% - $content;



// Colores

$general:#4d4d4d;
$general_sidebar:#6b6b6b;


$enlaces:#686600;

$enlaces_head:#fbf6a8;
$head:#e3c67f;

$borde:#d6ab72;

$rojo_claro:#904028;
$rojo_oscuro:#7e1e1d;
$beige:#7b7a44;


$gris_body:#E6E6E6;
$gris_main:#e6e6e6;
$gris_main:#F1F1F1;
$gris_main:#f3f3f3;

$gris_main_content:#f3f3f3;
$gris_main_content:#f9f9f9;
$gris_main_content_r:rgba(255,255,255,0.7);
