<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=yes" />
<link rel="stylesheet" type="text/css" href="css/html.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/backgrounds.css" />
<link rel="stylesheet" type="text/css" href="css/pages.css" />
<link rel="stylesheet" type="text/css" href="css/navigation.css" />
<link rel="stylesheet" type="text/css" href="css/blocks.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body >
<div id="page-wrapper" class="page-wrapper">
  <div id="header" class="header">
    <div id="header-inner" > <a href="" id="logo"> First Project </a> <a href="#main-menu" id="main-menu-link"> Menu </a> </div>
  </div>
  <div id="main" class="main clearfix">
    <div class="main-inner">
      <div id="main-content" class="main-content">
        
        <div id="navigation">
        	<ul class="menu" id="main-menu">
				<li><a href="">Home</a></li>
				<li><a href="" class="active">Companies</a></li>
				<li><a href="">Stocks</a></li>
				<li><a href="">Visualisations</a></li>
				<li><a href="">Twitter Sentiments</a></li>
        	</ul>
      	</div>
        
        <div id="region-sidebar" class="region region-sidebar">
        	<div class="inner">
          	<div class="block analysis">
            	<!-- <h2 class="">1,028,135,134</h2> -->
            	
            	<div location="aggregated"></div>
            	<!-- <p>Documents analyzed</p> -->
          	</div>
	          <div class="block" id="about">
	            <h2>Company Search</h2>
<!-- 	            <p class="teaser">Enter company name to start sentiment analysis</p>
	            <input style="width: 70%" /><input type="submit" value="Search">
 -->	<!--             <ul class="links">
	              <li class="read_more"><a href="">Read More</a></li>
	            </ul>
	 -->          
 			    <form class="form-inline">
    				<input type="text" class="input" placeholder="Type company name">
				    <button type="submit" class="btn">Sign in</button>
    			</form>	 		
	 		</div>
	          	          	
          	<div class="block" id="about">
            	<h2>Wiki Page</h2>
            	<p class="teaser">Here you can see the actual wiki page related to the information on this page. Wikipedia is a free, web-based, collaborative, multilingual encyclopedia project supported by the non-profit Wikimedia Foundation.</p>
            	 <!-- <ul class="links">
              		<li class="read_more"><a href="">Read More</a></li>
            	</ul> -->           	
            	            	
          	</div>
	          <!-- <div class="block">
            	<h2>List of Monitored Sources</h2> --> 
	            <div class="block" location="compSumm"></div> 
          	<!-- </div> -->
        	</div>
     	</div>
        
        <div class="inner">
          <div class="block graphic">
          	<h2 class="">Microsoft Inc.</h2>
            	<div class="btn-group">
    				<button class="btn">1 day</button>
    				<button class="btn">7 days</button>
    				<button class="btn">14 days</button>
    				<button class="btn btn-primary">30 days</button>
   				</div>
            <div class="block" location="uri"></div>
            <div class="block" location="graphic"></div>             
          </div>
          <div class="block">
            <h2>Latest News</h2>
            <div class="block" location="docListTable"></div>
          </div>  
          <!-- <div class="block">
            <h2>Trending Topics</h2>
            <p>Lorem ipsum dolor sit amet, neque at pharetra. Phasellus ornare congue velit, id feugiat ligula facilisis tempus. Vivamus tellus tortor, ornare viverra porta eu, gravida elemen<strong>tum felis.</strong> Cras eget justo at arcu fermentum malesuada. Nunc quis ultrices purus. Integer in mollis libero. <a href="#" >Etiam a ante sit amet sem fermentum dapibus nec eu metus.</a></p>
            <ul>
              <li>Lorem ipsum d<strong>olor sit ame</strong>t, consectetur adipiscing elit.</li>
              <li>Praesent eget erat a ipsum sagittis molestie vel sit amet est.</li>
              <li>Vestibulum ac mass<strong>a a urna luctus </strong>aliquet.</li>
              <li>Ut eu<em>ismod lectus iaculis mag</em>na mollis luctus.</li>
              <li>Nulla eu sem risus, et pretium libero.</li>
            </ul>
          </div> -->
        </div>
      </div>
      <!-- <div id="navigation">
        <ul class="menu" id="main-menu">
          <li><a href="" class="active">Home</a></li>
          <li><a href="">Company</a></li>
          <li><a href="">1st Document Annotation</a></li>
          <li><a href="">2nd Document Annotation</a></li>
        </ul>
      </div> -->
      <!-- <div id="region-sidebar" class="region region-sidebar">
        <div class="inner">
          <div class="block analysis">
            <h2 class="">1,028,135,134</h2>
            <p>Documents analyzed</p>
          </div>
          <div class="block" id="about">
            <h2>About FIRST</h2>
            <p class="teaser">FIRST develops and provides a large scale information extraction and integration infrastructure which will assist in various ways during the process of financial decision making.</p>
            <ul class="links">
              <li class="read_more"><a href="">Read More</a></li>
            </ul>
            </ul>
          </div>
          <div class="block">
            <h2>List of Monitored Sources</h2>
            <ul>
              <li>Lorem ipsum d<strong>olor sit ame</strong>t, consectetur adipiscing elit.</li>
              <li>Praesent eget erat a ipsum sagittis molestie vel sit amet est.</li>
              <li>Vestibulum ac mass<strong>a a urna luctus </strong>aliquet.</li>
              <li>Ut eu<em>ismod lectus iaculis mag</em>na mollis luctus.</li>
              <li>Nulla eu sem risus, et pretium libero.</li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    <div id="footer">Footer disclaimer </div>
  </div>
  <!-- main --> 
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
