			<!-- <div class="block" location="dT">             
          	</div>  
			<h2>Latest News</h2>-->
            <ul class="news">
              <li class="row up">
                <h3 class=""><a href=""><div class="block" location="doc1"></div></a></h3>
                <span class="meta">source:<span location="source1"></span>, date:<span location="date1"></span></span> </li>
              <li class="row down">
                <h3 class=""><a href=""><div class="block" location="doc2"></div></a></h3>
                <span class="meta">source:<span location="source2"></span>, date:<span location="date2"></span></span> </li>
              <li class="row up">
                <h3 class=""><a href=""><div class="block" location="doc3"></div></a></h3>
                <span class="meta">source:<span location="source3"></span>, date:<span location="date3"></span></span> </li>
              <li class="row down">
                <h3 class=""><a href=""><div class="block" location="doc4"></div></a></h3>
                <span class="meta">source:<span location="source4"></span>, date:<span location="date4"></span></span> </li>
              <li class="row up">
                <h3 class=""><a href=""><div class="block" location="doc5"></div></a></h3>
                <span class="meta">source:<span location="source5"></span>, date:<span location="date5"></span></span> </li>
              <li class="row down">
                <h3 class=""><a href=""><div class="block" location="doc6"></div></a></h3>
                <span class="meta">source:<span location="source6"></span>, date:<span location="date6"></span></span> </li>
              <li class="row up">
                <h3 class=""><a href=""><div class="block" location="doc7"></div></a></h3>
                <span class="meta">source:<span location="source7"></span>, date:<span location="date7"></span></span> </li>
              <li class="row down">
                <h3 class=""><a href=""><div class="block" location="doc8"></div></a></h3>
                <span class="meta">source:<span location="source8"></span>, date:<span location="date8"></span></span> </li>
            </ul>