/* line 5, ../sass/components/html.scss */
#main-menu-show:before,
.stars,
.news li:after, .read_more a:before {
  font-family: FontAwesome;
  padding: 0 0.3em;
}

/* line 10, ../sass/components/html.scss */
.read_more a:before {
  padding-right: 0.6em;
}

/* line 12, ../sass/components/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 14, ../sass/components/html.scss */
body {
  color: #4d4d4d;
  font-family: arial, helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4em;
}

/* line 20, ../sass/components/html.scss */
.region-sidebar {
  color: #6b6b6b;
}

/* line 25, ../sass/components/html.scss */
#page-wrapper {
  font-size: 0.9375em;
  font-size: 0.875em;
}

/* line 30, ../sass/components/html.scss */
a {
  text-decoration: none;
}

/* line 34, ../sass/components/html.scss */
#header {
  color: #e3c67f;
}
/* line 36, ../sass/components/html.scss */
#header a {
  color: #fbf6a8;
}

/* line 47, ../sass/components/html.scss */
ul.menu {
  list-style-type: none;
}

/* line 52, ../sass/components/html.scss */
h1, h2, h3 {
  margin: 0;
  padding: 0 0 0.4em 0;
}

/* line 56, ../sass/components/html.scss */
h3 {
  padding: 0.1em 0;
}

/* line 60, ../sass/components/html.scss */
p {
  margin: 0 0 1em;
}

/* line 72, ../sass/components/html.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 81, ../sass/components/html.scss */
.clearfix {
  display: inline-block;
}

/* line 85, ../sass/components/html.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 89, ../sass/components/html.scss */
* html .clearfix {
  height: 1%;
}

/* line 93, ../sass/components/html.scss */
*:focus {
  outline: none;
}

/* line 7, ../sass/components/layout.scss */
#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 12, ../sass/components/layout.scss */
#header-inner {
  text-align: center;
}

/* line 13, ../sass/components/layout.scss */
.inner {
  margin: 0 20px;
  padding-top: 20px;
}

/* line 17, ../sass/components/layout.scss */
body {
  padding: 0;
  margin: 0;
}

@media all and (min-width: 960px) {
  /* line 23, ../sass/components/layout.scss */
  .main-inner {
    margin: 0 10px;
    background: silver;
    position: relative;
    FLOAT: LEFT;
  }

  /* line 24, ../sass/components/layout.scss */
  #main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: block;
  }

  /* line 36, ../sass/components/layout.scss */
  #main-content {
    width: 66%;
    float: left;
    margin-right: -66%;
  }

  /* line 37, ../sass/components/layout.scss */
  #region-sidebar {
    width: 34%;
    float: left;
    margin-right: -100%;
    margin-left: 66%;
  }

  /* line 40, ../sass/components/layout.scss */
  body.one-column #main-content {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  /* line 45, ../sass/components/layout.scss */
  body.one-column #region-sidebar {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
}
/* line 4, ../sass/components/backgrounds.scss */
body {
  background: #e6e6e6 url(../images/gradient_texture.png);
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/components/backgrounds.scss */
#header {
  background: #7e1e1d;
  box-shadow: 0 5px 5px silver;
}

/* line 18, ../sass/components/backgrounds.scss */
.main-inner {
  background: #f3f3f3;
}

@media all and (min-width: 960px) {
  /* line 23, ../sass/components/backgrounds.scss */
  #header {
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #7e1e1d), color-stop(100%, #904028));
    background-image: -webkit-linear-gradient(bottom, #7e1e1d, #904028);
    background-image: -moz-linear-gradient(bottom, #7e1e1d, #904028);
    background-image: -o-linear-gradient(bottom, #7e1e1d, #904028);
    background-image: linear-gradient(bottom, #7e1e1d, #904028);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #7e1e1d), color-stop(100%, #904028));
    background-image: -webkit-linear-gradient(bottom, #7e1e1d, #904028);
    background-image: -moz-linear-gradient(bottom, #7e1e1d, #904028);
    background-image: -o-linear-gradient(bottom, #7e1e1d, #904028);
    background-image: linear-gradient(bottom, #7e1e1d, #904028);
    z-index: 99;
    position: relative;
  }

  /* line 35, ../sass/components/backgrounds.scss */
  .main-inner {
    background: #f3f3f3;
    border: 1px solid white;
    border-top-color: silver;
    box-shadow: 0 0 15px silver;
  }

  /* line 44, ../sass/components/backgrounds.scss */
  #header:after {
    content: "";
    width: 100%;
    height: 31px;
    background: #9c532b;
    left: 0;
    position: absolute;
    bottom: 0;
  }

  /* line 54, ../sass/components/backgrounds.scss */
  #header:after {
    height: 30px;
  }
}
/* line 8, ../sass/components/pages.scss */
a#main-menu-link {
  display: inline-block;
  background: #9c532b;
  float: right;
  margin-top: 18px;
  margin-right: 10px;
  padding: 5px 15px;
  opacity: 0.8;
  border: 1px solid #fbf6a8;
}

/* line 9, ../sass/components/pages.scss */
a#main-menu-link:hover {
  opacity: 1;
}

/* line 11, ../sass/components/pages.scss */
#header {
  overflow: hidden;
  height: 120px;
}

/* line 16, ../sass/components/pages.scss */
#header-inner {
  position: relative;
}

/* line 20, ../sass/components/pages.scss */
#footer {
  text-align: center;
  padding: 15px;
  clear: both;
}

@media all and (min-width: 720px) {
  /* line 24, ../sass/components/pages.scss */
  #logo {
    text-indent: 200%;
    white-space: nowrap;
    background: url(../images/logo_head_small.png) no-repeat;
    width: 94px;
    height: 50px;
    display: inline-block;
    float: left;
    margin: 10px 0 5px 30px;
    overflow: hidden;
  }
}
@media all and (min-width: 960px) {
  /* line 47, ../sass/components/pages.scss */
  #navigation {
    color: #fbf6a8;
  }
  /* line 49, ../sass/components/pages.scss */
  #navigation a {
    color: #fbf6a8;
    //border-radius: 10px 10px 0px 0px;
  }

  /* line 51, ../sass/components/pages.scss */
  h1.page-title {
    font-family: cambria;
    position: absolute;
    top: 20px;
    left: 245px;
    font-weight: normal;
    text-align: center;
    line-height: 1.3em;
  }

  /* line 63, ../sass/components/pages.scss */
  #logo {
    background: url(../images/logo_head.png) no-repeat;
    width: 160px;
    height: 85px;
    display: block;
  }

  /* line 72, ../sass/components/pages.scss */
  a#main-menu-link {
    display: none;
  }
}
@media all and (min-width: 960px) {
  /* line 6, ../sass/components/navigation.scss */
  #navigation {
    z-index: 99;
    position: absolute;
    top: -60px;
    left: 220px;
  }
  /* line 8, ../sass/components/navigation.scss */
  #navigation a {
    color: #fbf6a8;
  }
  /* line 12, ../sass/components/navigation.scss */
  #navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  /* line 13, ../sass/components/navigation.scss */
  #navigation ul.menu {
    height: 60px;
  }
  /* line 16, ../sass/components/navigation.scss */
  #navigation ul.menu li {
    float: left;
    height: 30px;
  }
  /* line 21, ../sass/components/navigation.scss */
  #navigation ul.menu li:hover ul {
    display: block;
  }
  /* line 24, ../sass/components/navigation.scss */
  #navigation ul.menu li a {
    display: block;
    padding: 0 1em;
    line-height: 30px;
  }
  /* line 31, ../sass/components/navigation.scss */
  #navigation ul.menu li.active > a, #navigation ul.menu li:hover > a {
    background: #9c532b;
  }
  /* line 35, ../sass/components/navigation.scss */
  #navigation ul.menu li:hover ul {
    background: black;
    z-index: 100;
    background: #9c532b;
  }
  /* line 39, ../sass/components/navigation.scss */
  #navigation ul.menu li.active ul {
    display: block;
  }
  /* line 41, ../sass/components/navigation.scss */
  #navigation ul.menu li.active ul .active a {
    background: #c47b34;
    color: black;
  }
  /* line 48, ../sass/components/navigation.scss */
  #navigation ul.menu ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 29px;
    left: -50px;
  }
  /* line 56, ../sass/components/navigation.scss */
  #navigation ul.menu ul a {
    color: #ead8a1;
  }
}
/* line 5, ../sass/components/blocks.scss */
ul.links a {
  background: #7b7a44;
  color: white;
  display: inline-block;
  padding: 3px 10px 1px;
  border-radius: 10px;
}
/* line 11, ../sass/components/blocks.scss */
ul.links a:hover {
  background: #7e1e1d;
}
/* line 15, ../sass/components/blocks.scss */
ul.links li {
  display: inline;
  margin: 2px 5px;
}
/* line 20, ../sass/components/blocks.scss */
ul.links .read_more a:before {
  content: "\f054";
}

/* line 24, ../sass/components/blocks.scss */
.block {
  margin: 10px 0;
}

/* line 25, ../sass/components/blocks.scss */
.block + .block {
  margin-top: 25px;
}

/* line 29, ../sass/components/blocks.scss */
ul.news, ul.links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 33, ../sass/components/blocks.scss */
ul.news li {
  padding: 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: -moz-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: -o-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: linear-gradient(top, #f9f9f9, #f3f3f3);
  position: relative;
  /* improvements of news list design*/
  padding: 12px 110px 12px 12px;
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #AAA;
}
/* line 43, ../sass/components/blocks.scss */
ul.news li.up {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eef8de), color-stop(100%, #c9e2cd));
  background-image: -webkit-linear-gradient(top, #eef8de, #c9e2cd);
  background-image: -moz-linear-gradient(top, #eef8de, #c9e2cd);
  background-image: -o-linear-gradient(top, #eef8de, #c9e2cd);
  background-image: linear-gradient(top, #eef8de, #c9e2cd);
}
/* line 45, ../sass/components/blocks.scss */
ul.news li.up:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2fbd0), color-stop(100%, #8bec9a));
  background-image: -webkit-linear-gradient(top, #f2fbd0, #8bec9a);
  background-image: -moz-linear-gradient(top, #f2fbd0, #8bec9a);
  background-image: -o-linear-gradient(top, #f2fbd0, #8bec9a);
  background-image: linear-gradient(top, #f2fbd0, #8bec9a);
}
/* line 49, ../sass/components/blocks.scss */
ul.news li.down {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4ead9), color-stop(100%, #e3cdca));
  background-image: -webkit-linear-gradient(top, #f4ead9, #e3cdca);
  background-image: -moz-linear-gradient(top, #f4ead9, #e3cdca);
  background-image: -o-linear-gradient(top, #f4ead9, #e3cdca);
  background-image: linear-gradient(top, #f4ead9, #e3cdca);
}
/* line 51, ../sass/components/blocks.scss */
ul.news li.down:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7dfbf), color-stop(100%, #ecaba2));
  background-image: -webkit-linear-gradient(top, #f7dfbf, #ecaba2);
  background-image: -moz-linear-gradient(top, #f7dfbf, #ecaba2);
  background-image: -o-linear-gradient(top, #f7dfbf, #ecaba2);
  background-image: linear-gradient(top, #f7dfbf, #ecaba2);
}
/* line 58, ../sass/components/blocks.scss */
ul.news li h3 {
  padding-top: 0;
}
/* line 63, ../sass/components/blocks.scss */
ul.news li.thumb:after {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  color: #7b7a44;
  color: #289039;
}
/* line 72, ../sass/components/blocks.scss */
ul.news li.thumb.up:after {
  content: "\f087";
}
/* line 73, ../sass/components/blocks.scss */
ul.news li.thumb.down:after {
  content: "\f088";
  color: #9c532b;
}
/* line 87, ../sass/components/blocks.scss */
ul.news li .stars, ul.news li.thumb:after {
  opacity: 0.5;
}
/* line 89, ../sass/components/blocks.scss */
ul.news li:hover.thumb:after, ul.news li:hover .stars {
  opacity: 1;
}
/* line 93, ../sass/components/blocks.scss */
ul.news .stars {
  font-size: 1.2em;
  letter-spacing: 2px;
  width: 6.5em;
  text-align: right;
  position: absolute;
  right: 10px;
}
/* line 105, ../sass/components/blocks.scss */
ul.news .stars:hover:after {
  position: absolute;
  right: 90px;
  top: 0px;
  content: "\f087";
  font-size: 1.3em;
}
/* line 120, ../sass/components/blocks.scss */
ul.news .positive-stars {
  top: 7px;
  color: #289039;
}
/* line 128, ../sass/components/blocks.scss */
ul.news .negative-stars {
  top: 25px;
  color: #9c532b;
}
/* line 135, ../sass/components/blocks.scss */
ul.news .negative-stars:hover:after {
  content: "\f088";
}

ul.news .stars-6:before {
  content: "\f005 \f005 \f005 \f005 \f005 \f005";
}

/* line 143, ../sass/components/blocks.scss */
ul.news .stars-5:before {
  content: "\f005 \f005 \f005 \f005 \f005";
}
/* line 146, ../sass/components/blocks.scss */
ul.news .stars-4:before {
  content: "\f005 \f005 \f005 \f005";
}
/* line 149, ../sass/components/blocks.scss */
ul.news .stars-3:before {
  content: "\f005 \f005 \f005";
}
/* line 152, ../sass/components/blocks.scss */
ul.news .stars-2:before {
  content: "\f005 \f005";
}
/* line 155, ../sass/components/blocks.scss */
ul.news .stars-1:before {
  content: "\f005";
}
ul.news .stars-0:before {
  content: "\f006";
}

/* line 163, ../sass/components/blocks.scss */
.analysis {
  text-align: center;
}

/* line 168, ../sass/components/blocks.scss */
.region-sidebar .block {
  background: #e6e6e6;
  padding: 1em;
  border-radius: 10px;
}

/* line 172, ../sass/components/blocks.scss */
.block.graphic img {
  width: 100%;
}

/* line 176, ../sass/components/blocks.scss */
.meta {
  margin-right: 50px;
  display: block;
}

/* line 180, ../sass/components/blocks.scss */
li.row {
  margin: 1em 0;
}

@media all and (min-width: 720px) {
  /* line 188, ../sass/components/blocks.scss */
  .visualisations ul {
    overflow: hidden;
  }
  /* line 192, ../sass/components/blocks.scss */
  .visualisations ul li {
    display: inline;
  }
  /* line 196, ../sass/components/blocks.scss */
  .visualisations ul li a {
    float: left;
    margin: 15px 5px;
    width: 100px;
    height: 0px;
    opacity: 0.5;
    padding-top: 60px;
    border: 10px solid white;
    border-bottom-width: 20px;
    box-shadow: 2px 2px 10px #494949;
    border-radius: 5px;
    background: url(../images/graph/contact-details-activity.jpg) no-repeat;
    background-size: cover;
  }
  /* line 207, ../sass/components/blocks.scss */
  .visualisations ul li a:hover {
    opacity: 1;
  }
  /* line 218, ../sass/components/blocks.scss */
  .visualisations ul .vis-2 a {
    background-image: url(../images/graph/dashboard-wf-v1.png);
  }
  /* line 219, ../sass/components/blocks.scss */
  .visualisations ul .vis-3 a {
    background-image: url(../images/graph/screen_shot_2012-11-07_at_11.55.03_pm_1x.png);
  }
  /* line 220, ../sass/components/blocks.scss */
  .visualisations ul .vis-4 a {
    background-image: url(../images/graph/pie-charts_1x.png);
  }
  /* line 221, ../sass/components/blocks.scss */
  .visualisations ul .vis-5 a {
    background-image: url(../images/graph/project.png);
  }
}
/* line 231, ../sass/components/blocks.scss */
.thumbnails ul {
  overflow: hidden;
}
/* line 235, ../sass/components/blocks.scss */
.thumbnails ul li {
  display: inline;
}
/* line 239, ../sass/components/blocks.scss */
.thumbnails ul li a {
  float: left;
  margin: 15px 5px;
  width: 100px;
  height: 80px;
  opacity: 0.5;
  border: 10px solid white;
  border-bottom-width: 20px;
  border-radius: 5px;
}
/* line 250, ../sass/components/blocks.scss */
.thumbnails ul li a:hover {
  opacity: 1;
  box-shadow: 2px 2px 10px #494949;
}

/* line 271, ../sass/components/blocks.scss */
ul.news, ul.links, .visualisations ul, ul.thumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot");
  src: url("../font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.ttf") format("truetype"), url("../font/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */
/* line 42, ../sass/components/font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 53, ../sass/components/font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 60, ../sass/components/font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 69, ../sass/components/font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 75, ../sass/components/font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 82, ../sass/components/font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 90, ../sass/components/font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 96, ../sass/components/font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 103, ../sass/components/font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 107, ../sass/components/font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 111, ../sass/components/font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 118, ../sass/components/font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 119, ../sass/components/font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 120, ../sass/components/font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 121, ../sass/components/font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 122, ../sass/components/font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 123, ../sass/components/font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 124, ../sass/components/font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 125, ../sass/components/font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 126, ../sass/components/font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 127, ../sass/components/font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 128, ../sass/components/font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 129, ../sass/components/font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 130, ../sass/components/font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 131, ../sass/components/font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 132, ../sass/components/font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 134, ../sass/components/font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 135, ../sass/components/font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 136, ../sass/components/font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 137, ../sass/components/font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 138, ../sass/components/font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 139, ../sass/components/font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 140, ../sass/components/font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 141, ../sass/components/font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 142, ../sass/components/font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 143, ../sass/components/font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 144, ../sass/components/font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 145, ../sass/components/font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 146, ../sass/components/font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 147, ../sass/components/font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 148, ../sass/components/font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 151, ../sass/components/font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 152, ../sass/components/font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 153, ../sass/components/font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 154, ../sass/components/font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 155, ../sass/components/font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 156, ../sass/components/font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 157, ../sass/components/font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 158, ../sass/components/font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 159, ../sass/components/font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 160, ../sass/components/font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 161, ../sass/components/font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 162, ../sass/components/font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 163, ../sass/components/font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 164, ../sass/components/font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 165, ../sass/components/font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 167, ../sass/components/font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 168, ../sass/components/font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 169, ../sass/components/font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 170, ../sass/components/font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 171, ../sass/components/font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 172, ../sass/components/font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 173, ../sass/components/font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 174, ../sass/components/font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 175, ../sass/components/font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 176, ../sass/components/font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 177, ../sass/components/font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 178, ../sass/components/font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 179, ../sass/components/font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 180, ../sass/components/font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 181, ../sass/components/font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 183, ../sass/components/font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 184, ../sass/components/font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 185, ../sass/components/font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 186, ../sass/components/font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 187, ../sass/components/font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 188, ../sass/components/font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 189, ../sass/components/font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 190, ../sass/components/font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 191, ../sass/components/font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 192, ../sass/components/font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 193, ../sass/components/font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 194, ../sass/components/font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 195, ../sass/components/font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 196, ../sass/components/font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 197, ../sass/components/font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 199, ../sass/components/font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 200, ../sass/components/font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 201, ../sass/components/font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 202, ../sass/components/font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 203, ../sass/components/font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 204, ../sass/components/font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 205, ../sass/components/font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 206, ../sass/components/font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 207, ../sass/components/font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 208, ../sass/components/font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 209, ../sass/components/font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 210, ../sass/components/font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 211, ../sass/components/font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 212, ../sass/components/font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 213, ../sass/components/font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 215, ../sass/components/font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 216, ../sass/components/font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 217, ../sass/components/font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 218, ../sass/components/font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 219, ../sass/components/font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 220, ../sass/components/font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 221, ../sass/components/font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 222, ../sass/components/font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 223, ../sass/components/font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 224, ../sass/components/font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 225, ../sass/components/font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 226, ../sass/components/font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 227, ../sass/components/font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 228, ../sass/components/font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 229, ../sass/components/font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 231, ../sass/components/font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 232, ../sass/components/font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 233, ../sass/components/font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 234, ../sass/components/font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 235, ../sass/components/font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 236, ../sass/components/font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 237, ../sass/components/font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 238, ../sass/components/font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 239, ../sass/components/font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 240, ../sass/components/font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 241, ../sass/components/font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 242, ../sass/components/font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 243, ../sass/components/font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 244, ../sass/components/font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 245, ../sass/components/font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 247, ../sass/components/font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 248, ../sass/components/font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 249, ../sass/components/font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 250, ../sass/components/font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 251, ../sass/components/font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 252, ../sass/components/font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 253, ../sass/components/font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 254, ../sass/components/font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 255, ../sass/components/font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 256, ../sass/components/font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 257, ../sass/components/font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 258, ../sass/components/font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 259, ../sass/components/font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 260, ../sass/components/font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 261, ../sass/components/font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 263, ../sass/components/font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 264, ../sass/components/font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 265, ../sass/components/font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 266, ../sass/components/font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 267, ../sass/components/font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 1, ../sass/components/datepicker.scss */
#ui-datepicker-div {
  font-size: 14px;
}
